<!-- <!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Test </title>
      <script src="..."></script>
   </head>
<body>
    <div> TEST </div>

    <script type="text/javascript">
    </script>
</body></html>
  </body>
</html> -->

<!DOCTYPE html>
<html>
<body>

<h2>HTML Image</h2>
<img src="https://en.wikipedia.org/wiki/Image#/media/File:Image_created_with_a_mobile_phone.png" alt="Display Image" width="500" height="333">

</body>
</html>
